* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add{
    display: flex;
}

.add span{
    font-size: 25px;
    font-weight: 600;
    margin: auto;
}


.player-input{
    border-collapse: collapse;
    border: 1px solid #ddd;
    display: flex;
    font-size: 17px;
    margin: 15px 0;
    padding: 10px;
    max-width: 40%;
    background-color: #AEB1B4;
    color: #1a150e;
    
}

.player-btn{
    border: none;
    outline: none;
    margin: 15px 0;
    padding: 10px;
    font-size: 17px;
    min-width: 100px;
    background: rgb(114, 114, 114);
}

.players div{
    height: 35px;
    margin: 20px auto;
}

.name{
    width: 70px;
    margin: auto 20px;
    display: inline-block;
    font-size: 24px;
}

.money{
    width: 60px;
    margin: auto 10px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
}

.players div button{
    border: none;
    outline: none;
    height: 100%;
    background: rgb(114, 114, 114);
    font-size: 20px;
    width: 70px;
}

.players .cais {
    background: #AEB1B4;
}